<!DOCTYPE html>
<html lang="en"
  ><head
    ><title>Growling Super Manatee</title
    ><meta property="og:title" content="Growling Super Manatee" /><meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" /><meta
      charset="utf-8" /><meta
      property="twitter:card"
      content="summary_large_image" /><style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }</style
    ><style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }</style
    ><link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font" /><link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css" /></head
  >
<body
    >
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script><link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" /><div
      ><div class="home-container"
        ><div class="home-container01"
          ><div class="home-container02"
            ><h1 class="home-text">Heading</h1
            ><span class="home-text01">Text</span></div
          ><div class="home-container03"
            ><div class="home-container04"
              ><div class="home-container05"
                ><svg viewBox="0 0 1024 1024" class="home-icon">
                  <path
                    d="M768 342v-86h-512v86h512zM598 598v-86h-342v86h342zM256 384v86h512v-86h-512zM854 86q34 0 59 25t25 59v512q0 34-25 60t-59 26h-598l-170 170v-768q0-34 25-59t59-25h684z"
                  ></path></svg
                ><div class="home-container06"
                  ><span class="home-conversation-began"
                    ><span>Conversation begins</span><br /><br /></span
                  ><span class="home-text05">Text</span></div
                ></div
              ><div class="home-container07"
                ><span class="home-text06">Text</span></div
              ><div class="home-container08"
                ><svg viewBox="0 0 1024 1024" class="home-icon2">
                  <path
                    d="M512 64c282.77 0 512 186.25 512 416 0 229.752-229.23 416-512 416-27.156 0-53.81-1.734-79.824-5.044-109.978 109.978-241.25 129.7-368.176 132.596v-26.916c68.536-33.578 128-94.74 128-164.636 0-9.754-0.758-19.33-2.164-28.696-115.796-76.264-189.836-192.754-189.836-323.304 0-229.75 229.23-416 512-416z"
                  ></path></svg
                ><span class="home-text07"
                  ><span>this is your text</span
                  ><br /><br /></span></div></div></div
          ><div class="home-container09"
            ><div class="home-container10"></div
            ><div class="home-container11"
              ><span class="home-text11">Name</span
              ><span class="home-text12">hello</span
              ><span class="home-text13">Email</span
              ><span class="home-text14">Text</span
              ><span class="home-text15">Phone</span></div
            ><span class="home-text16">Text</span></div
          ></div
        ></div
      ></div
    >
    <script>
    const socket = io();

    // Function to update data
    const updateData = () => {
        // Fetch data from server
        fetch('/index', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => response.json())
        .then(data => {
            // Update the HTML content with the fetched data
            const container = document.getElementsByClassName('home-container02')[0]; // Get the first (and only) container
            container.innerHTML = ''; // Clear existing content (even if container is null)

            // Loop through the data array
            data.forEach(item => {
                // Create <h1> element for phone number
                const phoneNumberElement = document.createElement('h1');
                phoneNumberElement.classList.add('home-text');
                phoneNumberElement.textContent = item.number;

                // Create <span> element for text
                const textElement = document.createElement('span');
                textElement.classList.add('home-text01');
                const message = "i am a bad boyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy";
                const truncatedText = message && message.length > 15 ? message.substring(0, 15) + '...' : message || '';
                textElement.textContent = truncatedText;

                // Append elements to container
                container.appendChild(phoneNumberElement);
                container.appendChild(textElement);
            });
        })
        .catch(error => console.error('Error fetching data:', error));
    };

    // Initial call to update data
    updateData();

    // Listen for the 'data_update' event from socket
    socket.on('data_update', updateData);
</script>
  </body></html
>
