<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Upload</title>
</head>
<body>
    <form action="/varian" method="post" enctype="multipart/form-data">
       <input type="text" name="first" placeholder="name" required>
       <input type="text" name="last" placeholder="last" required>
       <input type="text" name="number" placeholder="number" required>
        <input type="text" name="email" placeholder="email" required>
       <input type="text" name="appoint" placeholder="appoint">
       <input type="text" name="time" placeholder="time" required>

       <button type="submit">Upload</button>
    </form>
</body>
</html>
